.flight_search_col{
  margin-top: -8.5rem;
  position: relative;
  z-index: 9;
}
.flight_bg{
  background: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 85%;
  margin: 0 auto;
  h1{
    font-size: 1.6rem;
  }
}
.flight_search_grid{
  display: grid;
  grid-template-columns: 1.5fr 0.3fr 1.5fr 1.5fr 1fr 1.8fr auto;
  column-gap: 1.5rem;
  align-items: center;
  margin-top: 2.5rem;
}
.flight_search_list{
  label{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .form-control{
    border: 0;
    border-bottom: 1px solid #eee;
    background: transparent;
    border-radius: 0;
    padding: 0;
    min-height: 2.5rem;
    font-size: 1.4rem;
  }
}
.icon_flight{
  height: 3rem;
  width: 3rem;
  border: 1px solid #C9C7C7;
  border-radius: 50%;
  line-height: 3rem;
  text-align: center;
  margin: 0 auto;
}
.traveller_list{
  opacity: 0;
  transition: all ease-in-out 1000ms;
}
.traveller_list_current{
  opacity: 1;
}
.flight_search_list{
  position: relative;
}
.traveller_main{
  position: absolute;
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 0 35px rgba(0,0,0,0.1);
  width: 100%;
  z-index: 9;
}
.travel_btn_flex{
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  h3{
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .travel_btn{
    margin-left: auto;
    cursor: pointer;
  }
}
.d-grid{
  grid-template-columns: 1.5fr 2fr;
}
.qty_flex{
  .input-group-prepend{
    border: 1px solid $head_color;
    color: $head_color;
  }
  .input-group-append{
    border: 1px solid $head_color;
    color: $head_color;
  }
  .form-control{
    text-align: center;
    border: 0;
  }
}

.flight_search_inner{
  background: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  padding: 2rem 0 1rem;
  border-bottom: .4rem solid $theme_color;
  .flight_bg{
    background: transparent;
    box-shadow: initial;
    border-radius: 0;
    padding: 0;
    max-width: initial;
    margin: 0 auto;
  }
  .flight_search_grid {
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1fr 1.8fr auto;

  }
}
.search_flight_col{
  figure{
    height: 40rem;
    text-align: center;
    img{
      height: 100%;
      object-fit: contain;
    }
  }
}
// Schedule //
.flight_schedule{
  margin: 6rem 0;
  h1{
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
.schedule_bg{
  background: #f6f6f6;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  p{
    margin-bottom: 0;
  }
  strong{
    color: $theme_color;
  }
}
.flightSchedule-swiper{
  .swiper-slide-active{
    .schedule_bg{
      background: $head_color;
      color: #fff;
      border-color: $head_color;
    }
  }
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 1.8rem;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -3px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: -3px;
}
.swiper-slide{
  a{
    color: $body_color;
  }
}
.flight_schedule_bg{
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  border-radius: .5rem;
}
.flight_schedule_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px dashed #eee;
  padding: 1rem;
}
.flight_schedule_grid{
  display: grid;
  grid-template-columns: 1fr .5fr .7fr;
  align-items: center;
}
.flight_logo{
  figure{
    margin-bottom: 0;
    img{
      height: 4rem;
    }
  }
}
.flight_code{
  margin-left: auto;
}
.flight_inner_grid{
  grid-template-columns: .75fr 0.6fr .75fr;
  align-items: center;
}
.flight_inner_title{
  font-size: 2.8rem;
  font-weight: 600;
}
.ic_flight{
  i{
    color: $theme_color;
    font-size: 3rem;
  }
}
.label_day{
  color: $head_color;
  font-weight: 600;
}
.label_duration{
  color: $head_color;
  font-weight: 600;
}
.flight_schedule_info {
  border-right: 1px dashed #adadad;
  padding: 2rem;
  height: 100%;
  &:last-child{
    border: 0;
  }
}
.flight_price{
  background: $head_color;
  padding: 2rem;
  border-radius: .54rem;
}
.span_currency{
  color: #fff;
}
.label_price{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}
.old_price{
  text-decoration: line-through;
  color: #eee;
  font-size: 1.3rem;
}
.span_refund{
  color: #eee;
  font-size: 1.3rem;
}
.flight_lugage{
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  height: 100%;
}
.lugage_col{
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  display: grid;
  grid-template-columns: .5fr 1fr;
  align-items: center;
}
.lugage_ic{
  height: 4rem;
  width: 4rem;
  background: #022561;
  color: #fff;
  text-align: center;
  line-height: 4.8rem;
  border-radius: 50%;
  margin: 1.5rem auto;
  i{
    font-size: 2rem;
  }

}
.lugage_infos{
  font-size: 1.8rem;
  font-weight: 600;
}
.flight_schedule_list{
  margin-bottom: 2rem;
}
.label_day{
  display: none!important;
}
.flight_payment_col{
  background: #1b4ea6;
  padding: 2rem 0;
  box-sizing: border-box;
  position: fixed;
    width: 100%;
    z-index: 9;
    bottom: 0;
    display: none;
}
.flight_payment_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flight_payment_left{
  label{
    font-size: 1.6rem;
    color: #fff;
  }
  h2{
    color: #fff;
    font-weight: 600;
  }
  span{
    color: #fff;
  }
}
.flight_payment_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
}
.flight_info_detail{
  border-right: 1px dashed #eee;
  padding-right: 3rem;
  &:last-child{
    border-right: 0;
  }
}
.view_flight{
  color: #eee;
}
.flight_payment_detail{
  .label_price{
    font-size: 2.6rem;
  }
}
.flight_payment_right{
  margin-left: auto;
}
.flight_payment_col-open{
  display: block;
}
.payment_link{
  display: block;
}
// Flight Progress //
.flight_progress{
  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    max-width: 70%;
    margin: 2rem auto 1rem;
    li{
      text-align: center;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
.flight_progress_ic{
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
  background: #8e8989;
  line-height: 5.2rem;
  color: #fff;
  margin: 0 auto;
  i{
    font-size: 3rem;
  }
}
.flight_progress{
  li.active{
    .flight_progress_ic{
      background: $theme_color;
    }
    span{
      color: $theme_color;
    }
  }
}
.flight_progress{
  li.success{
    .flight_progress_ic{
      background: #008000;
    }
    span{
      color: #008000;
    }
  }
}
.flight_progress {
  border-bottom: 1px solid #eee;
}
.flight_payment_col_inner{
  display: block;
}
//Passengar //
.passanger_bg{
  margin: 5rem 0 3rem;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  h1{
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}
.passanger_form{
  padding: 2rem;
}
.passanger_form_list{
  margin-bottom: 2.2rem;
}
//Passengar //
.flight_bg_col{
  margin: 5rem 0 3rem;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  h1{
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}
// Payment //
.payment_order_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 2rem;
}
.payment_order_list{
  a{
    display: block;
    background: #fff;
    border-radius: 0.8rem;
    padding: 2rem;
    box-shadow: 0 1px 18px 10px rgba(0,0,0,0.06);
    position: relative;
    border: 1px solid #eee;
    cursor: pointer;
    transition: ease-in-out .5s;
    &.active{
      border-color: $theme_color;
    }
    figure{
      text-align: center;
      margin-bottom: 0;
      img{
        height: 6rem;
        object-fit: contain;
      }
    }
  }
}
.modal_flight{
  .modal-header{
    border-bottom: 0;
    h2{
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
}
.payment_view_details{
  thead{
    background: $theme_color;
    color: #fff;
    td{
      padding: .8rem;
    }
  }
}
.fare_span{
  display: block;
  background: $theme_color;
  color: #fff;
  padding: .6rem;
}
.span_amt,.label_total{
  font-size: 1.8rem;
  font-weight: 600;
}
.view_flight{
  &:hover{
    color: #fff;
  }
}
.flight_search_routes{
  margin: 0 0 5rem;
  .flight_bg{
    max-width: 100%;
  }
}