@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

// global fonts //
$theme_font: "Titillium Web", sans-serif;
$body_font: "Inter", sans-serif;

// global color //
$hover_color: #022561;
$theme_color: #FF9315;
$body_color: #6D6E76;
$head_color: #022561;
$text_color:#11A0DB;
$footer_bg:#0A142F;